<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".get_help" %>
  <a href="http://www.railstutorial.org/help"><%= t ".rails_help" %></a>.
  <%= t ".to_the_help" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".ruby" %></em> <%= t ".book"%></a>.
</p>
